.cafe {
    color: brown;
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 80px;
    margin-bottom: 20px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: #ce9c15 !important;
    margin-top: 30px !important;
    font-size: 15px !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    line-height: 1.5 !important;
    color: black !important;
    font-weight: bold !important;
    word-spacing: 10px !important;
    letter-spacing: 3px !important;
}

.mot {
    font-size: 18px;
    text-align: justify;
    font-family: "Times New Roman, Times, serif";
    padding-top: 50px;
    word-spacing: 4px;
    letter-spacing: 2px;
    padding-right: 50px !important;
}


.imgUnderline2 {
    margin-left: 430px;
    margin-top: 5px;
    margin-bottom: 50px;
    width: 300px;
    height: 20px;
}

@media (max-width: 634px) {


    .mot {
        font-size: 12px;
        text-align: center;
    }

    .cafe {
        font-size: 20px;
        text-align: center;
    }

    .btn-primary,
    .btn-primary:hover,
    .btn-primary:active,
    .btn-primary:visited {
        margin-top: 30px !important;
        font-size: 10px !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .imgUnderline2 {
        margin-left: 255px;
        width: 100px;
        margin-bottom: auto;
    }
}