.home {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 75vh;
}

.cafeRestaurant {
    color: brown;
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 100px;
    margin-bottom: 17px;

}

.description {
    font-size: 18px;
    text-align: justify;
    font-family: "Times New Roman, Times, serif";
    padding-top: 50px;
    word-spacing: 4px;
    letter-spacing: 2px;
    padding-right: 50px !important;

}

.imgUnderline {
    margin-left: 380px;
    margin-top: 5px;
}

@media (max-width: 768px) {

    .description {
        font-size: 12px;
        text-align: center;
    }

    .cafeRestaurant {
        font-size: 25px;
        text-align: center;
    }

}

@media (max-width: 634px) {


    .description {
        font-size: 12px;
        text-align: center;
    }

    .cafeRestaurant {
        font-size: 20px;
        text-align: center;
    }

    .homm {
        width: 50% !important;
    }

    .imgUnderline {
        margin-left: 210px;
        width: 200px;
        margin-top: 5px;
        margin-bottom: auto;
    }

}

@media (max-width: 414px) {

    .imgUnderline {
        margin-left: 110px;
        width: 200px;
        margin-top: 5px;
        margin-bottom: auto;
    }

}