.cafe {
    color: brown;
    text-align: center;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 60px;
}

.motRestaurant {
    font-size: 18px;
    text-align: justify;
    font-family: "Times New Roman, Times, serif";
    padding-top: 20px !important;
    word-spacing: 4px !important;
    letter-spacing: 2px;
    padding-right: 50px !important;
    color: black;
}

.btn-danger,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:visited {
    background-color: #ce9c15 !important;
    margin-top: 30px !important;
    font-size: 15px !important;
    padding-left: 35px !important;
    padding-right: 35px !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    line-height: 1.5 !important;
    color: black !important;
    font-weight: bold !important;
    word-spacing: 7px !important;
    letter-spacing: 2px !important;
}

.imgUnderline3 {
    margin-left: 420px;
    margin-bottom: 80px;
    margin-top: 5px;
}



@media (max-width: 634px) {


    .motRestaurant {
        font-size: 12px;
        text-align: center;
    }

    .cafe {
        font-size: 20px;
        text-align: center;
    }

    .btn-danger,
    .btn-danger:hover,
    .btn-danger:active,
    .btn-danger:visited {
        margin-top: 20px !important;
        font-size: 10px !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }


    .imgUnderline3 {
        margin-left: 245px;
        width: 150px;
        margin-bottom: auto;
    }
}